.profile__username {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*685px*/

@media screen and (max-width: 685px) {
  .profile__username {
    font-size: 27px;
    line-height: 33px;
  }
}