.header {
  height: 74px;
  border-bottom: 1px #545454 solid;
  margin-bottom: 40px;
  width: 880px;
  box-sizing: border-box;
}

/*930px*/

@media screen and (max-width: 930px) {
  .header {
    width: 100%;
  }
}

/*525px*/

@media screen and (max-width: 525px) {
  .header {
    height: 56px;
    margin-bottom: 39px;
  }
}