.profile__card {
  display: flex;
  gap: 30px;
  align-items: center;
  box-sizing: border-box;
}

/*685px*/

@media screen and (max-width: 685px) {
  .profile__card {
    flex-direction: column;
    gap: 26px;
  }
}